<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webpack Example</title>
    <!-- Static file served via Hapi's file route(Inert plugin) -->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Outputs views below -->
    {{{content}}}
  </body>
    <!-- Static file served via Hapi's file route(Inert plugin) -->
    <script src="/js/app.js"></script>
</html>
